{{!< default}}
<div id="hometop">
	<div class="container">
		<div class="spacer-percent-15 spacer-min-25"></div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<h1 class="text-center titletext" id="titletext">Students4Students</h1>
				<h1 class="text-center titletext" id="titletext-short">S4S</h1>
			</div>
		</div>
		<div class="spacer-percent-15 spacer-min-25"></div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<img src="/images/mono-logo-white.png" class="img-responsive">
			</div>
		</div>
		<div class="spacer-percent-15 spacer-min-25"></div>

		
	</div>
</div>
