{{!< default}}
<div class="identifier" id="safeguardingIdentifier"></div>
<div class="container">
	<h1 class="text-center border">Safeguarding</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p>Students4Students takes the welfare and safety of the children we work with incredibly importantly; we have rigorous processes in place to protect them. <a href="Child-safety-procedure.pdf">This document</a> outlines these policies in a concise form.</p>
			<p>If you have any safeguarding concerns relating to a Students4Students volunteer or tutee then please contact our Designated Child Safety officer: <a href="mailto:alex.astley@students4students.org.uk">alex.astley@students4students.org.uk</a></p>
			<p>Alternatively you can contact our trustees at: <a href="mailto:safegaurding@students4students.org.uk">safegaurding@students4students.org.uk</a></p>
		</div>
	</div>

</div>
