{{!< default}}
<div class="identifier" id="supportIdentifier"></div>
<div class="container">
    <h1 class="text-center border">Support Us</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-cs-12">
            <p>
				Since Students4Students first started tutoring we have:
				<ul>
					<li>Trained over 100 tutors</li>
					<li>Delivered over 1500 hours of tutoring</li>
					<li>Worked with over 200 pupils</li>
				</ul>
			</p>
			<p>
				AND this is just the beginning. Students4Students is expanding so that we can train more tutors, deliver more
				tutoring sessions and ensure that more children are leaving primary school being able to read and write. 
			</p>
			<p>
				HOWEVER, we cannot do this without your support. The money you donate goes directly to funding our tutors’ work. Every penny we raise we reinvest in recruiting and training new tutors alongside supporting our existing tutors.
			</p>
			<p>
                We cannot do this without your support. The money you donate goes directly to funding our tutors’ work. Every penny we raise we reinvest in recruiting and training new tutors alongside supporting our existing tutors. If you would like to donate, please click the donate button below.
			</p>
			<div class="text-center border">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="ZGPANJHEKG99S">
                    <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
			</div>
            

		</div>
    </div>
</div>
