.container {
	padding-top: 10px;
}

.img-blog {
	margin: 5px;
}

.embed-responsive-l {
	padding-bottom: 100%;
}

.embed-responsive-xl {
	padding-bottom: 150%;
}

.purple {
	background-color: @primary;
}

.img-social{
	max-width:50px;
	max-height: 50px;
}

.navbar-brand {
	font-family: @cursive-font;
	display: none;
}

.navbar-brand-image{
	max-height: @navbar-height - 10px;
	margin: 5px;
}

#body {
	margin-top: @navbar-height;
}
#hometop {
	background: url("/images/page/homepage.jpg");
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}

.titletext {
	font-family: @cursive-font;
	color: #FFF;
	font-weight: bold;
}
#titletext {
	display: none;
}

.border {
	border-color: @primary;
	border-radius: 5px;
	border-style: solid;
}

h1, h2, h3 {
	color: @primary;
}

@media (min-width: 300px) {
	.navbar-brand {
		display: inline-block;
	}
}

@media (min-width: 500px) {
	#titletext {
		display: inline-block;
	}
	#titletext-short {
		display: none;
	}
}

@media (min-width: @screen-sm-min) {
	#titletext {
		font-size: 45px
	}
}

@media (min-width: @screen-md-min) {
	#titletext {
		font-size: 60px;
	}
}

@media (min-width: @screen-lg-min) {
	#titletext {
		font-size: 100px;
	}
}
